In [1]:
# Task 5.0
# # From the below dictionary, do the following tasks

# access "Mike"
# access 80
# change "Mike" to "Your name"
# add ML = 80 and DL = 80 inside marks



dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

In [2]:
# access "Mike"
dict1["april_batch"]["student"]["name"]

'Mike'

In [3]:
# access 80
dict1["april_batch"]["student"]["marks"]["python"]

80

In [6]:
# change "Mike" to "Your name"
dict1["april_batch"]["student"]["name"]= "uday"
print(dict1)

{'april_batch': {'student': {'name': 'uday', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

In [7]:
# add ML = 80 and DL = 80 inside marks
dict1["april_batch"]["student"]["marks"]["ML"]=80
print(dict1)
dict1["april_batch"]["student"]["marks"]["DL"]=80
dict1

{'april_batch': {'student': {'name': 'uday', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}

{'april_batch': {'student': {'name': 'uday',
   'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DL': 80}}}}